@model launchPad.Models.Link

<div class="row">
    <div class="pr-3">
        <h1>_launchPad.</h1>
    </div>
    <div class="pt-3 pr-3 pl-3">
        <h5>Administration</h5>
    </div>
    <div class="pt-3 pl-3">
        <h5><a href="@Url.Action("Logout", "Login")">Logout</a></h5>
    </div>
</div>

<div class="row my-2">
    <div class="col">
        <h4>Add Link</h4>
        <div style="margin-bottom:10px">Enter data for new link:</div>
        <p>Category:</p> 
        <h3>@ViewBag.catName</h3>
        
        <form method="post">
            
            <div class="form-group">
                <label>Label</label>
                <input type="text" asp-for="label" class="form-control" maxlength="100" />
                <span asp-validation-for="label" class="text-danger" />
            </div>            
            <div class="form-group">
                <label>href</label>
                <input type="text" asp-for="href" class="form-control" maxlength="100" />
                <span asp-validation-for="href" class="text-danger" />
            </div>            
            <div class="form-group">
                <label>Pinned</label><br>
                <input type="checkbox" asp-for="pinned" onclick="$(this).val(this.checked ? 1 : 0)"/> Pinned to Top
            </div>
            
            <div class="form-group">
                <input type="hidden" asp-for="categoryId" value="@ViewBag.catId" />
            </div>

            
            <div class="form-group">
                <input type="submit" asp-controller="Admin" asp-action="AddSubmit" class="btn btn-warning" Text="Add" />
                <a asp-controller="Admin" asp-action="Index"><input type="button" class="btn btn-warning" value="Cancel" /></a>
            </div>
        </form>

    </div>
</div>

@section scripts {
    <script>startAutoLogout();</script>
}