@model launchPad.Models.Link

<div class="row my-2">
    <div class="col">
        <h4>Add Customer</h4>
        <div style="margin-bottom:10px">Enter data for new customer:</div>
        
        <form method="post">
            
            <div class="form-group">
                <label>href</label>
                <input type="text" asp-for="href" class="form-control" maxlength="100" />
                <span asp-validation-for="href" class="text-danger" />
            </div>

            
            <div class="form-group">
                <input type="submit" asp-controller="Admin" asp-action="AddSubmit" class="btn btn-warning" Text="Add" />
                <a asp-controller="Admin" asp-action="Index"><input type="button" class="btn btn-warning" value="Cancel" /></a>
            </div>
        </form>

    </div>
</div>