@model launchPad.Models.Link

<div class="row">
    <div class="pr-3">
        <h1>_launchPad.</h1>
    </div>
    <div class="pt-3 pr-3 pl-3">
        <h5>Administration</h5>
    </div>
    <div class="pt-3 pl-3">
        <h5><a href="@Url.Action("Logout", "Login")">Logout</a></h5>
    </div>
</div>

<div class="row" style="margin-bottom:20px;">
    <div class="col-sm-12">
        <h3>Delete Link.</h3>
        <div style="margin-bottom:10px">Are you sure you want to delete the following link?<br><br>
            <div class="row">
                <div>
                    <h4><img src="https://www.google.com/s2/favicons?domain_url=@Model.href" alt="@Model.label" class="pr-1"></h4>
                </div>
                <div>
                    <h4>&nbsp;@Model.label&nbsp;|</h4>
                </div>
                <div>
                    <h4>&nbsp;@Model.href</h4>
                </div>
            </div>
        </div>
        
        <form method="post">

            <div class="form-group">
                <input type="submit" asp-controller="Admin" asp-action="DeleteSubmit" class="btn btn-warning" value="Delete" />
                <input type="hidden" name="delSelectedLink" value="@Model.Id" />
                <input type="submit" asp-controller="Admin" asp-action="Index" class="btn btn-warning" value="Cancel" />
            </div>
        </form>

    </div>
</div>

@section scripts {
    <script>startAutoLogout();</script>
}