@model launchPad.Models.Link

<div class="row">
    <div class="pr-3">
        <h1>_launchPad.</h1>
    </div>
    <div class="pt-3 pr-3 pl-3">
        <h5>Administration</h5>
    </div>
    <div class="pt-3 pl-3">
        <h5><a href="@Url.Action("Logout", "Login")">Logout</a></h5>
    </div>
</div>

<div class="row my-2">
    <div class="col">
        <h3>Edit Link.</h3>
        <div style="margin-bottom:10px">Edit the link data below:</div>
        <p>Category:</p>

        
        <form method="post">
            <div class="form-group">
                <select id="lstCustomers" asp-for="categoryId" asp-items='ViewBag.selectList' class="btn btn-secondary form-control"></select>
            </div>
            
            <div class="form-group">
                <label>Label</label>
                <input type="text" asp-for="label" class="form-control" maxlength="100" />
                <span asp-validation-for="label" class="text-danger" />
            </div>            
            <div class="form-group">
                <label>href</label>
                <input type="text" asp-for="href" class="form-control" maxlength="100" />
                <span asp-validation-for="href" class="text-danger" />
            </div>            
            <div class="form-group">
                <label>Pinned</label><br>
                @if (@Model.pinned == "1") {
                    <div class="row">
                        <div>
                            <input type="checkbox" name="pinned" onclick="$(this).val(this.checked ? 1 : 0)" checked/>
                        </div>
                        <div>
                            <p>&nbsp;&nbsp;Pin to top</p>
                        </div>
                    </div>
                } else {
                    <div class="row">
                        <div>
                            <input type="checkbox" name="pinned" onclick="$(this).val(this.checked ? 1 : 0)"/>
                        </div>
                        <div>
                            <p>&nbsp;&nbsp;Pin to top</p>
                        </div>
                    </div>
                }
            </div>
            
            <div class="form-group">
                <input type="hidden" asp-for="categoryId" value="@ViewBag.catId" />
            </div>

            
            <div class="form-group">
                <input type="submit" asp-controller="Admin" asp-action="UpdateLinkSubmit" class="btn btn-warning" Text="Change" />
                <a asp-controller="Admin" asp-action="Index"><input type="button" class="btn btn-warning" value="Cancel" /></a>
            </div>
            <input type="hidden" asp-for="Id" />
        </form>

    </div>
</div>

@section scripts {
    <script>startAutoLogout();</script>
}